@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=M+PLUS+1+Code&display=swap');

.code-input{
    background: aliceblue;
    padding: 0px 0px 20px 20px;
}

.code-output{
    background: mintcream;
    padding: 0px 0px 20px 20px;
}

.fonts-output{
    font-family: 'M PLUS 1 Code', sans-serif;
    color: saddlebrown;
}

.fonts-input{
    font-family: 'Fira Code', monospace;
}

.btn-block{
    width: 9rem;
}

.tag-block{
    background: lightgreen;
    padding: 0rem 0.3rem 0.23rem 0.3rem;   
    border-radius: 7px;
}